@model SalesEstimate.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = ViewBag.PageTitle;
}
<form class="row g-3 needs-validation" asp-action="CreateOrderDetail" method="post" novalidate>
    <input type="hidden" asp-for="OrderId" />

    <div class="form-group col-md-6">
        <label asp-for="OrderLine" class="form-label"></label>
        <input asp-for="OrderLine" class="form-control" required />
        <div class="invalid-feedback">
            Please enter a Order Line.
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="FrameQty" class="form-label"></label>
        <input asp-for="FrameQty" class="form-control" />
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="EstimatedSubTotal" class="form-label"></label>
        <input asp-for="EstimatedSubTotal" class="form-control" />
        <div class="invalid-feedback">
            Total)
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="AdditionalCharges" class="form-label"></label>
        <input asp-for="AdditionalCharges" class="form-control" />
        <div class="invalid-feedback">
            arges)
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="OtherCharges" class="form-label"></label>
        <input asp-for="OtherCharges" class="form-control" />
        <div class="invalid-feedback">
            )
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="EstimatedFreight" class="form-label"></label>
        <input asp-for="EstimatedFreight" class="form-control" />
        <div class="invalid-feedback">
            ight)
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="EstimatedTotal" class="form-label"></label>
        <input asp-for="EstimatedTotal" class="form-control" />
        <div class="invalid-feedback">
            al)
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="ElevationDrawing" class="form-label"></label>
        <input asp-for="ElevationDrawing" class="form-control" />
        <div class="invalid-feedback">
            wing)
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="WidthFeet" class="form-label"></label>
        <input asp-for="WidthFeet" class="form-control" />
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="WidthInches" class="form-label"></label>
        <input asp-for="WidthInches" class="form-control" />
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="HeightFeet" class="form-label"></label>
        <input asp-for="HeightFeet" class="form-control" />
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="HeightInches" class="form-label"></label>
        <input asp-for="HeightInches" class="form-control" />
        <div class="invalid-feedback">
            )
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="UnequalPairWidthFeet" class="form-label"></label>
        <input asp-for="UnequalPairWidthFeet" class="form-control" />
        <div class="invalid-feedback">
            idthFeet)
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="UnequalPairWidthInches" class="form-label"></label>
        <input asp-for="UnequalPairWidthInches" class="form-control" />
        <div class="invalid-feedback">
            idthInches)
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="JambDepth" class="form-label"></label>
        <input asp-for="JambDepth" class="form-control" />
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="HingeJamb" class="form-label"></label>
        <input asp-for="HingeJamb" class="form-control" />
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="StrikeJamb" class="form-label"></label>
        <input asp-for="StrikeJamb" class="form-control" />
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="Head" class="form-label"></label>
        <input asp-for="Head" class="form-control" />
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="QTY" class="form-label"></label>
        <input asp-for="QTY" class="form-control" />
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="LookupTypeId" class="form-label">Lookup Type</label>
        <select class="form-select" id="LookupTypeId" asp-for="LookupTypeId">
            <option value="">Select Lookup Type</option>
            @if (ViewBag.Types != null)
            {
                foreach (var item in (SelectList)ViewBag.Types)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="LookupXifPairId" class="form-label">Xif Pair</label>
        <select asp-for="LookupXifPairId" class="form-select" id="LookupXifPairId">
            <option value="">Select Xif Pair</option>
            @if (ViewBag.XifPair != null)
            {
                foreach (var item in (SelectList)ViewBag.XifPair)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="LookupOtherThanDoorId" class="form-label">Other Than Door</label>
        <select asp-for="LookupOtherThanDoorId" id="LookupOtherThanDoorId" class="form-select">
            <option value="">Select Other Than Door</option>
            @if (ViewBag.OtherThan1or3 != null)
            {
                foreach (var item in (SelectList)ViewBag.OtherThan1or3)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="LookupHandingId" class="form-label">Handing</label>
        <select asp-for="LookupHandingId" id="LookupHandingId" class="form-select">
            <option value="">Select Handing</option>
            @if (ViewBag.Handing != null)
            {
                foreach (var item in (SelectList)ViewBag.Handing)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="LookupSteelMaterialId" class="form-label">Steel Material</label>
        <select asp-for="LookupSteelMaterialId" id="LookupSteelMaterialId" class="form-select">
            <option value="">Select Steel Material</option>
            @if (ViewBag.SteelMaterial != null)
            {
                foreach (var item in (SelectList)ViewBag.SteelMaterial)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <div class="invalid-feedback">
        </div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="LookupFireLabelId" class="form-label">Fire Label</label>
        <select asp-for="LookupFireLabelId" id="LookupFireLabelId" class="form-select">
            <option value="">Select Fire Label</option>
            @if (ViewBag.FireLabel != null)
            {
                foreach (var item in (SelectList)ViewBag.FireLabel)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <div class="invalid-feedback">
        </div>
    </div>
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="LookupSeriesId" class="form-label">Series</label>
        <select asp-for="LookupSeriesId" id="LookupSeriesId" class="form-select">
            <option value="">Select Fire Label</option>
            @if (ViewBag.Series != null)
            {
                foreach (var item in (SelectList)ViewBag.Series)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <div class="invalid-feedback">
        </div>
    </div>
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
    <script>
        // Example of custom client-side validation
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
}
