@model SalesEstimate.ViewModels.OrderViewModel
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h5>@ViewBag.PageTitle</h5>
                <div class="card">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="general-info-tab" data-bs-toggle="tab" href="#general-info" role="tab" aria-controls="general-info" aria-selected="true">General Information</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="order-details-tab" data-bs-toggle="tab" href="#order-details" role="tab" aria-controls="order-details" aria-selected="false">Order Details</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="general-info" role="tabpanel" aria-labelledby="general-info-tab">
                            <div class="card-body">
                                <form class="row g-3 needs-validation" asp-action="Create" method="post" novalidate>
                                    <div class="row">
                                        
                                        <!-- Quotation Request -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="quotationRequest" class="col-form-label">Order or Quotation Request:</label>
                                            <input type="text" class="form-control" id="quotationRequest" asp-for="QuotationRequest" required>
                                            <div class="invalid-feedback">
                                                Please enter a quotation request.
                                            </div>
                                        </div>
                                        <!-- Order Type -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="orderType" class="col-form-label">Order or Quotation Type:</label>
                                            <input type="text" class="form-control" id="orderType" asp-for="OrderType" required>
                                            <div class="invalid-feedback">
                                                Please enter the order type.
                                            </div>
                                        </div>
                                        <!-- Checkboxes Section -->
                                        <div class="col-md-6 col-xl-4 mb-3 mt-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" id="IsActivatePriceCalculation" name="IsActivatePriceCalculation" value="true" @(Model?.IsActivatePriceCalculation == true ? "checked" : "")>
                                                <label class="form-check-label" for="IsActivatePriceCalculation">Activate Price Calculation</label>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" id="isBuyAmericaActProject" name="IsBuyAmericaActProject" value="true" @(Model?.IsBuyAmericaActProject == true ? "checked" : "")>
                                                <label class="form-check-label" for="isBuyAmericaActProject">Buy America Act Project</label>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" id="IsPurchaseOrderQuoted" name="IsPurchaseOrderQuoted" value="true" @(Model?.IsPurchaseOrderQuoted == true ? "checked" : "")>
                                                <label class="form-check-label" for="IsPurchaseOrderQuoted">Has This Purchase Order been Quoted?</label>
                                            </div>
                                        </div>
                                        <!-- Company Name -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="companyName" class="col-form-label">Company Name:</label>
                                            <input type="text" class="form-control" id="companyName" asp-for="CompanyName" required>
                                            <div class="invalid-feedback">
                                                Please enter the company name.
                                            </div>
                                        </div>
                                        <!-- Customer Purchase Order -->
                                        <div class="col-md-6 col-xl-4">
                                            <label asp-for="CustomerPurchaseOrder" class="col-form-label">Customer Purchase Order (P.O.):</label>
                                            <input type="text" class="form-control" id="purchaseOrder" asp-for="CustomerPurchaseOrder">
                                        </div>
                                        <!-- Contact Name -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="contactName" class="col-form-label">Contact Name:</label>
                                            <input type="text" class="form-control" id="contactName" asp-for="ContactName" required>
                                            <div class="invalid-feedback">
                                                Please enter the contact name.
                                            </div>
                                        </div>
                                        <!-- Contact Phone -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="contactPhone" class="col-form-label">Contact Phone #:</label>
                                            <input type="text" class="form-control" id="contactPhone" asp-for="ContactPhone" required>
                                            <div class="invalid-feedback">
                                                Please enter the contact phone number.
                                            </div>
                                        </div>
                                        <!-- Contact Fax -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="contactFax" class="col-form-label">Contact Fax #:</label>
                                            <input type="text" class="form-control" id="contactFax" asp-for="ContactFax">
                                        </div>
                                        <!-- Contact Email -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="contactEmail" class="col-form-label">Contact Email:</label>
                                            <input type="email" class="form-control" id="contactEmail" asp-for="ContactEmail" required>
                                            <div class="invalid-feedback">
                                                Please enter a valid email address.
                                            </div>
                                        </div>
                                        <!-- Order Date -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="orderDate" class="col-form-label">Order Date:</label>
                                            <input type="date" class="form-control" id="orderDate" asp-for="OrderDate" required>
                                            <div class="invalid-feedback">
                                                Please select an order date.
                                            </div>
                                        </div>
                                        <!-- Required Date -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="requiredDate" class="col-form-label">Required Date:</label>
                                            <input type="date" class="form-control" id="requiredDate" asp-for="RequiredDate" required>
                                            <div class="invalid-feedback">
                                                Please select a required date.
                                            </div>
                                        </div>
                                        
                                        <!-- Project Total Value -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="projectTotalValue" class="col-form-label">If yes, what is the project total value?:</label>
                                            <input type="number" class="form-control" id="projectTotalValue" asp-for="ProjectTotalValue">
                                        </div>
                                        
                                        <!-- Quoted number -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="quoteNumber" class="col-form-label">Quote Number:</label>
                                            <input type="text" class="form-control" id="quoteNumber" asp-for="QuoteNumber">
                                        </div>
                                        <!-- Job Site Name -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="jobSiteName" class="col-form-label">Job Site Name:</label>
                                            <input type="text" class="form-control" id="jobSiteName" asp-for="JobSiteName">
                                        </div>
                                        <!-- Contractor -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="contractor" class="col-form-label">Contractor:</label>
                                            <input type="text" class="form-control" id="contractor" asp-for="Contractor">
                                        </div>

                                        <!-- Job Site Contact Name -->
                                        <div class="col-md-6 col-xl-4">
                                            <label for="jobSiteContactName" class="col-form-label">Job Site Contact Name:</label>
                                            <input type="text" class="form-control" id="jobSiteContactName" asp-for="JobSiteContactName">
                                        </div>

                                        <!-- Contact Phone or Cell -->
                                        <div class="col-md-6 col-xl-4 mb-2">
                                            <label for="jobSiteContactPhone" class="col-form-label">Contact Phone or Cell:</label>
                                            <input type="text" class="form-control" id="jobSiteContactPhone" asp-for="JobSiteContactPhone">
                                        </div>
                                        <!-- Additional Shipping Instructions -->
                                        <div class="col-md-12 mb-2">
                                            <label for="additionalShippingInstructions" class="col-form-label">Additional Shipping Instructions:</label>
                                            <textarea class="form-control" id="additionalShippingInstructions" asp-for="AdditionalShippingInstructions" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body mt-2">
                                            <div class="row">
                                                <!-- Ship to Address -->
                                                <div class="col-md-6 col-xl-4 mb-3">
                                                    <label for="shipToAddress" class="form-label">Ship to Address:</label>
                                                    <select class="form-select" id="shipToAddress" asp-for="ShipToAddress" required>
                                                        <option value="">Select Address</option>
                                                        <option value="My location">My location</option>
                                                        <option value="Job site">Job site</option>
                                                        <option value="Pick up by customer">Pick up by customer</option>
                                                        <option value="Other branch location">Other branch location</option>
                                                    </select>
                                                    <span asp-validation-for="ShipToAddress" class="text-danger"></span>
                                                </div>

                                                <!-- Street Address -->
                                                <div class="col-md-6 col-xl-4 mb-3">
                                                    <label for="streetAddress" class="form-label">Street Address:</label>
                                                    <input type="text" class="form-control" id="streetAddress" asp-for="StreetAddress">
                                                </div>

                                                <!-- City -->
                                                <div class="col-md-6 col-xl-4 mb-3">
                                                    <label for="city" class="form-label">City:</label>
                                                    <input type="text" class="form-control" id="city" asp-for="City">
                                                </div>

                                                <!-- State -->
                                                <div class="col-md-6 col-xl-4 mb-3">
                                                    <label for="lookupStateId" class="form-label">State:</label>
                                                    <select class="form-select" id="lookupStateId" name="LookupStateId">
                                                        <option value="">Select State</option>
                                                        @if (ViewBag.States != null)
                                                        {
                                                            foreach (var item in (SelectList)ViewBag.States)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                    <span asp-validation-for="LookupStateId" class="text-danger"></span>
                                                </div>

                                                <!-- Zip Code -->
                                                <div class="col-md-6 col-xl-4 mb-3">
                                                    <label for="zipCode" class="form-label">Zip Code:</label>
                                                    <input type="text" class="form-control" id="zipCode" asp-for="ZipCode">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-end mt-3">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="order-details" role="tabpanel" aria-labelledby="order-details-tab">
                            <div class="card-body">

                                <div class="col-md-12 text-end mb-3">
                                    <button type="button" class="btn btn-primary" id="loadOrderDetailsButton">Add+</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <form class="row g-3 needs-validation" asp-action="CreateOrderDetail" asp-controller="Order" method="post" novalidate>
                    <div id="orderDetailsContainer">
                    </div>
                    <div class="submitButtonContainer d-none text-end mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        'use strict';
        let lineNumber = 0;

        $(document).ready(function () {
            $('#loadOrderDetailsButton').on('click', function () {
                lineNumber++;
                $.ajax({
                    url: '@Url.Action("CreateOrderDetail", "Order")',
                    type: 'GET',
                    data: { orderLine: lineNumber },
                    success: function (data) {
                        $('#orderDetailsContainer').append(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error details:', status, error);
                        alert('An error occurred while loading the data. Please check the console for details.');
                    }
                });
            });
            var forms = document.querySelectorAll('.needs-validation');
            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        });
        $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
            var activeTabId = $(e.target).attr('id');

            console.log("Tab changed to: ", activeTabId);

            if (activeTabId === 'order-details-tab') {
                $('.submitButtonContainer').removeClass('d-none');
                console.log("Show Submit Button");
            } else {
                $('.submitButtonContainer').addClass('d-none');
                console.log("Hide Submit Button");
            }
        });

    </script>
}



